.body-app{
  background-color: #148104;
/*  background-color: #174710;
*/}

.mini-card{
  height: 80px;
  width: 64px;
  margin-right: 10px;
}
.my-mini-card{
  height: 100px;
  width: 80px;
  margin-right: 10px;
}
.tokens-button{
  background: #D5D315;
  border-color: #0B0B09;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  text-align: center;
}
.bets-button{
  background: #D95430;
  border-color: #399D3A;
  width: 80px;
  height: 45px;
  border-radius: 45px;
  text-align: center;
 }
 .player-box-text{
  color: #FFFFC7;
 }
 .chip{
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin-right: 5px;
 }
 .player-box{
  margin-top: 400px;
  border: 1px solid black;
 }
.light-text{
  color: #FFFFC7;
 }
 .col-centered{
    float: none;
    margin: 0 auto;
}